.big {
  display: flex;
}
.small {
  display: none;
}

@media (min-width: 300px) and (max-width: 500px) {
  .big {
    display: none;
  }
  .small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
